/*  @media (prefers-color-scheme: dark) */

.nightowl-light{
    /* Prevent inconsistencies for positioning */
    body{
        filter: invert(0%);
    }
}

.nightowl-dark {
    /* Firefox fallback. */
    background-color: #111;

    body {
        filter: invert(100%) hue-rotate(180deg);
    }

    /* Do not invert media (revert the invert). */
    img, video, iframe {
        filter: invert(100%) hue-rotate(180deg);
    }

    /* Improve contrast on icons. */
    .icon {
        filter: invert(15%) hue-rotate(180deg);
    }

    /* Re-enable code block backgrounds. */
    pre {
        filter: invert(6%);
    }

    /* Improve contrast on list item markers. */
    li::marker {
        color: #666;
    }
}
